.rubrikforutrisning {}

.egenskaper {
    width: 390px;
    margin-left: 10px;
}

.rubrikforbeskrivning {
    float: left;
    position: absolute;
}

.beskrivning {
    float: left;
    width: 800px;
    padding-top: 40px;
    line-height: 25px;
    text-align: justify;
}

.column0 {
    float: right;
    width: 400px;
    margin-left: 100px;
    margin-top: 20px;
}

.reklam-a {
    width: 400px;
    margin-left: 80px;
    margin-top: 20px;
}

.annons-a {
    width: 800px;
    margin-left: 60px;
    margin-top: 20px;
}


/* Set the size of the div element that contains the map */

#map {
    height: 500px;
    /* The height is 400 pixels */
    width: 970px;
    /* The width is the width of the web page */
    margin: auto;
    margin-bottom: 200px;
}

#pris {
    color: green;
}